.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 500px;
    width: 400px;
    text-align: center;
    padding: 20px;
    margin: 5px;
    
    @media (max-width: 1024px) {
        height: 475px;
        width: 350px;
    }
    @media (max-width: 900px) {
        height: 475px;
        width: 300px;
    }
    @media (max-width: 768px) {
        height: 475px;
        width: 280px;
    }
    @media (max-width: 540px) {
        height: 450px;
        width: 350px;
    }

    a{
        text-decoration: none;
        color: black;
    }
    

    .imageContainer{
        height: 70%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;

    }

    .imageContainer img{
        height: auto;
    }
    
    .cardTitle {
        font-size: 24px;
        margin: 0;
        text-align: left;
        
        h2{
            font-style: normal;
            font-weight: 450;
        }
        .stripe{
            display: block;
            width: 100%;
            height: 1px;
            background-color: rgba(28, 29, 32, 0.175);
        }
    }
    .cardContent {
        display: flex;
        p {
            width: 70%;
            text-align: left;
        }
        .year {
            width: 30%;
            text-align: right;
        }
    }
}


