.workDetailsContainer{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    z-index: 1;
    font-family: "Signika", sans-serif;
    
    @media (max-width: 540px) {
        margin-top: 0px;
    }

    .workDetails{
        position: relative;
        display: flex;
        height: 100%;
        font-family: "Signika", sans-serif;
        
        .body{
            position: relative;
            width: 100vw;
            border-radius: 20px;

            .imgWrap{
                position: relative;
                display: flex;
                height: 90vh;
                overflow: hidden;
                top: -75px;

                @media (max-width: 1024px) { height: 40vh; }
                @media (max-width: 900px) { height: 40vh; }
                @media (max-width: 768px) { height: 40vh; }
                @media (max-width: 540px) { height: 40vh; }

                .imgContainer{
                    margin-left: 10%;
                    margin-right: 10%;
                    width: 80%;
                    height: 110%;
                }

                img{
                    height: 100% !important;
                    width: 100% !important; 
                } 
            }
    
            p{
                font-style: normal;
                font-size: 20px;
                line-height: 1.065;
                padding: 0px 300px 10px 300px;

                @media (max-width: 1024px) { padding: 0px 100px 10px 100px; }
                @media (max-width: 900px) { padding: 0px 100px 10px 100px; }
                @media (max-width: 768px) { padding: 0px 100px 10px 100px; }
                @media (max-width: 540px) { font-size: 14px; padding: 0px 25px 10px 25px; }
            }

            h4{
                font-style: normal;
                font-size: 20px;
                line-height: 1.065;
                margin-bottom: 1em;
                opacity: 0.6;
                padding: 0px 300px 10px 300px;

                @media (max-width: 1024px) { padding: 0px 100px 10px 100px; }
                @media (max-width: 900px) { padding: 0px 100px 10px 100px; }
                @media (max-width: 768px) { padding: 0px 100px 10px 100px; }
                @media (max-width: 540px) { font-size: 14px; padding: 0px 25px 10px 25px; }
            }
            ul{
                padding: 0px 300px 20px 330px;

                @media (max-width: 1024px) { padding: 0px 100px 10px 120px; }
                @media (max-width: 900px) { padding: 0px 100px 10px 120px; }
                @media (max-width: 768px) { padding: 0px 100px 10px 120px; }
                @media (max-width: 540px) { padding: 0px 25px 10px 35px; }

                li{
                    font-style: normal;
                    font-size: 20px;
                    line-height: 1.065;
                    padding-bottom: 5px;

                    @media (max-width: 540px) { font-size: 14px; }
                    
                    span{
                        opacity: 0.6;
                        font-weight: 500;
                        font-style: italic;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .circleContainer{
        background-color: white;
        position: relative;
        
        .circle{
            height: 1550%;
            width: 120%;
            left: -10%;
            border-radius: 0 0 50% 50%;
            background-color: white;
            z-index: 1;
            position: absolute;
            box-shadow: 0px 60px 50px rgba(0, 0, 0, 0.748);
            @media (max-width: 540px) {
                width: 100%;
                left: 0%;
            }
        }
    }
}